// Color scheme
$accent: #cdccb4;
$gray: #9f9f9f;
$white: #fff;

$black: #1c1d21;
$black-100: #231f20;

$border_radius: 5px;

$font_family: var(--font-roboto-slab), serif;
$font_family_secondary: var(--font-open-sans), sans-serif;
$transition: 0.3s ease;

// Media query
$media_xl: 1440px;
$media_lg: 1199px;
$media_md: 1024px;
$media_sm: 767px;
$media_xs: 413px;
