.tariff {
  &__left {
    .info {
      font-family: Open Sans;
      @media (max-width: 767px) {
        width: 100%;
      }
      p {
        font-weight: 300;
        color: #9f9f9f;
        margin-bottom: 35px;
      }
      h6 {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }
    .wrap {
      text-align: center;
      flex-shrink: 0;

      .img {
        max-width: 100%;
        position: relative;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__terms {
    font-weight: 700;
    display: inline-flex;
    text-decoration: none;
    position: relative;
    color: #1c1d21;
    @media (max-width: 1024px) {
      color: #cdccb4;
    }
    &:hover {
      color: #cdccb4;
      @media (max-width: 1024px) {
        color: #1c1d21;
      }
      &:before {
        width: 0;
        background-color: #cdccb4;
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #1c1d21;
      transition: 0.4s ease;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  &__promotion {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #cdccb4;
    border: 1px solid #cdccb4;
    font-size: 13px;
    max-width: 260px;
    margin: 50px auto 0;
    padding: 14px 0;
    transform: rotate(-7deg);
    @media (max-width: 1440px) {
      font-size: 9px;
      padding: 10px 0;
      margin-top: 30px;
      transform: rotate(-3deg);
    }
    span {
      display: block;
      font-size: 18px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }

  &__right {
    h6 {
      font-family: Open Sans;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 3px;
    }
    p {
      font-family: Open Sans;
      font-weight: 300;
      color: #9f9f9f;
      margin-bottom: 26px;
    }
    .price {
      font-weight: 700;
      font-size: 60px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      margin-bottom: 40px;
      @media (max-width: 1440px) {
        font-size: 50px;
      }
      @media (max-width: 1280px) {
        font-size: 40px;
      }
      @media (max-width: 575px) {
        font-size: 34px;
      }
    }
    .btn {
      width: calc(100% + 20px);
      @media (max-width: 1440px) {
        font-size: inherit;
      }
    }
  }
}
