.program-detail {
  h6 {
    margin-bottom: 6px;
  }

  &__info-item {
    font-family: Open Sans;
    margin-bottom: 50px;
    h6 {
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      font-weight: 300;
      color: #9f9f9f;
      + p {
        margin-top: 24px;
      }
    }
  }
  &__lead {
    h6 {
      font-family: Open Sans;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  &__lead-list li {
    display: flex;
    gap: 20px;
    + li {
      border-top: 1px solid #c4c4c4;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
  &__lead-img {
    width: 122px;
    height: 122px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: block;
    object-fit: cover;
    @media (max-width: 1440px) {
      width: 90px;
      height: 90px;
    }
  }
  &__lead-info {
    flex-grow: 1;
    padding-top: 10px;
    @media (max-width: 1440px) {
      padding-top: 0;
    }
    .name {
      text-decoration: underline;
      margin-bottom: 7px;
      color: #1c1d21;
      display: inline-flex;
      &:hover {
        text-decoration: none;
      }
    }
    p {
      font-family: Open Sans;
      font-weight: 300;
      color: #9f9f9f;
      @media (max-width: 1440px) {
        font-size: 16px;
      }
    }
  }

  &__right {
    li {
      + li {
        margin-top: 40px;
      }
      h6 {
        font-family: Open Sans;
        font-weight: 700;
        text-transform: uppercase;
      }
      p {
        font-family: Open Sans;
        font-weight: 300;
        color: #9f9f9f;
      }
    }
    .btn {
      margin-top: 40px;
      width: calc(100% + 20px);
      @media (max-width: 1440px) {
        font-size: inherit;
      }
    }
  }
}
