.contacts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  &__right,
  &__left {
    width: 50%;
    position: relative;
  }
  &__left {
    padding-block: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    @media (max-width: 1680px) {
      width: 55%;
    }
  }
  &__right {
    position: relative;
    @media (max-width: 1680px) {
      width: 45%;
    }
    .map {
      background-color: #ccc;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__info {
    flex-grow: 1;
    .list {
      margin-top: 60px;
      max-width: 340px;
      width: 100%;
      li {
        + li {
          margin-top: 26px;
        }
        span {
          font-weight: 700;
          display: block;
        }
        p {
          margin-top: 10px;
        }
        p,
        a {
          font-family: Open Sans;
          font-weight: 300;
          color: #9f9f9f;
          text-decoration: none;
        }
        a {
          display: inline-flex;
          &:hover {
            color: #cdccb4;
            transform: translateX(4px);
          }
        }
      }
    }
  }
}

.btn-dowload {
  margin-top: 62px;
  display: inline-flex;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-decoration: underline;
  text-transform: uppercase;
  color: #cdccb4;
  line-height: 1.5;
  &:hover {
    transform: translateX(4px);
    text-decoration: none;
  }
}
