.programs {
  &.page-container {
    padding-top: 50px;
  }
}
.item-category {
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  &:first-child {
    border-top: 1px solid #c4c4c4;
  }
  &__name {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    .title {
      font-weight: 700;
      letter-spacing: 0.07em;
      cursor: pointer;
      margin-bottom: 7px;
      user-select: none;
      transition:
        color 0.3s ease-out,
        opacity 0.3s ease-out,
        transform 0.3s ease-out;
      &:hover {
        color: #cdccb4;
        transform: translateX(5px);
      }
      &:active {
        opacity: 0.6;
      }
    }
    p {
      font-weight: 700;
      letter-spacing: 0.15em;
      color: #cdccb4;
    }
  }
  &__container {
    max-width: 910px;
    padding-bottom: 30px;
  }

  &__container-bg {
    right: -50px;
    bottom: 0;
    max-height: 100%;
    max-width: 60%;
    position: absolute;
    transition: 1.2s ease-in-out;
  }
  &__item-cover {
    + * {
      margin-top: 30px;
    }
  }
}
