.promotions {
  &__container {
    margin-top: 50px;
    @media (max-width: 575px) {
      margin-top: 30px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-right: -24px;
    row-gap: 30px;
    @media (max-width: 1440px) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}

.promotion {
  &__col {
    padding-left: 24px;
    padding-right: 24px;
    width: 33.33%;
    @media (max-width: 1440px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media (max-width: 900px) {
      width: 50%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
    &.lg {
      width: 66.66%;
      @media (max-width: 900px) {
        width: 100%;
      }
      .promotion__item img {
        right: 2%;
      }
    }
  }
  &__item {
    min-height: 426px;
    transition:
      box-shadow 0.3s ease,
      transform 0.4s ease;
    @media (max-width: 1440px) {
      min-height: 322px;
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
      img {
        transform: scale(1.03);
      }
      .info {
        .btn-wrap {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    img {
      max-height: 80%;
      max-width: 70%;
      position: absolute;
      bottom: 0;
      right: -10%;
      transition: transform 0.4s ease;
    }
    .info {
      .cover {
        max-width: 430px;
      }
      p {
        font-weight: 300;
        letter-spacing: 0.07em;
        max-width: 260px;
      }
      .btn-wrap {
        opacity: 0;
        transform: translateX(-40px);
        transition:
          opacity 0.4s ease-out 0.2s,
          transform 0.4s ease-out 0.2s;
        @media (max-width: 1024px) {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

.promotion-item {
  position: relative;
  background-color: #f8f8f8;
  padding: 24px;
  overflow: hidden;
  display: flex;
  width: 100%;
  @media (max-width: 1440px) {
    padding: 16px;
  }
  @media (max-width: 1280px) {
    padding: 10px;
  }
  &.dark {
    background-color: #1c1d21;
    color: #fff;
  }
  .info {
    width: 100%;
    position: relative;
    border: 1px solid #cdccb4;
    padding: 20px 24px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1440px) {
      padding: 16px;
    }
    @media (max-width: 1280px) {
      padding: 10px;
    }
    .title {
      text-transform: uppercase;
      margin-bottom: 10px;
      letter-spacing: 0.07em;
    }
    p {
      @media (max-width: 1440px) {
        font-size: 16px;
      }
    }
  }
}

.promotion-detail {
  &__item {
    min-height: 680px;
    margin-top: 60px;
    @media (max-width: 1440px) {
      min-height: 460px;
    }
    img {
      position: absolute;
      max-height: 90%;
      max-width: 56%;
      bottom: 0;
      right: 3%;
      @media (max-width: 575px) {
        max-height: 40%;
      }
    }
    .info {
      .cover {
        max-width: 910px;
      }
      .title {
        @media (max-width: 575px) {
          font-size: 26px;
        }
      }
      .slogan {
        font-weight: 300;
        margin-bottom: 30px;
        @media (max-width: 575px) {
          font-size: 18px;
        }
      }
      .text {
        font-family: Open Sans;
        font-weight: 300;
        color: #9f9f9f;
        max-width: 430px;
        margin-bottom: 20px;
      }
      .period {
        font-family: Open Sans;
        font-weight: 700;
        color: #9f9f9f;
      }
    }
  }
}
